.jewel
{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    background: black;
    opacity: 0.8;
}

.jewel
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img
{
width:150px;
}